/*
 * @Author: Nokey 
 * @Date: 2017-10-24 14:29:26 
 * @Last Modified by: Mr.B
 * @Last Modified time: 2017-12-08 14:40:49
 */

@import '~nib/lib/nib/index.styl'
@import '../../modules/style/reset'

.bg-cover
    background-repeat no-repeat
    background-size: cover
    background-position: center center

.component
    position relative

.home
    font-family 'Roboto'

/*
 * Example 1
 */
.center
    display flex
    justify-content center
    margin 12px

.drag-area
    width 300px
    height 200px
    background-color #B4D6C6
    margin 20px auto

.drag-ele
    width 30px
    height 30px
    background-color #000
